h2{
    text-align: center;
    color:brown;
    font-size: 35px;
}

.bag-bondi{
    width: 280px;
    text-align: center;
    margin: 0 auto;
    
}

.bag-ghor{
    height: 87px;
    width: 87px;
    border: 3px solid red;
    float: left;
    font-size: 35px;
}